.app {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 84px;
  padding-bottom: 115px;
}

.cheapest {
  margin-top: 49px;
  flex-basis: 100%;
  text-align: center;
}

.cheapest button {
  padding-left: 46px;
  padding-right: 46px;
}

.error-message {
  color: #e43f3f;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1120px) {
  .app {
    justify-content: center;
  }
}

@media (max-width: 478px) {
  .app {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
